---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Gestor de Tareas Personal">
	<main class="max-w-2xl mx-auto p-6 md:py-12">
		
		<header class="seccion-encabezado">
			<h1 class="titulo-encabezado">Task Manager</h1>
			<p class="subtitulo-encabezado">Organiza tu día de forma sencilla</p>
		</header>
		
	</main>
</Layout>